body {
   margin: 0; 
   padding: 0;
   font-family: 'Prociono', serif;
   font-size: 24px;
}

div {
    box-sizing: border-box;
    vertical-align: top;
}

p {
    margin: 0;
}

#NamePrompt {
    display: block;
    padding: 32px;
}

#DiceBar {
    display: none;
    background-color: #ccc;
    padding: 1vw;
    margin: 0;
    top: 0;
    width: 100%;
}

#MultBox {
    display: inline-block;
    margin: 10px 1vw 0 1vw;
    width: 28vw;
}

#mult {
    display: inline-block;
    width: 2vw;
    text-align: center;
}

.mult-button {
    background-color: #fff;
    border: #333 1px solid;
    width: 40px;
    height: 40px;
    display: inline-block;
    text-align: center;
}

#DiceBox {
    display: inline-block;
    width: 66vw;
}

.svg-die {
    display: inline-block;
    margin: 0 2vw 0 0;
}

.rollbox {
    padding: 16px;
    position: relative;
    border: #000 1px solid;
    margin: 24px 0 0 0;
}

.die {
    height: 60px;
    width: 60px;
    cursor: pointer;
}

.total {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px 16px 16px 16px;
}

input, button {
    padding: 2vw;
    font-family: 'Prociono', serif;
    font-size: 24px;
}

#PlayerGrid {
}

.playerbox {
    box-sizing: border-box;
    display: inline-block;
    border: #000;
    border-style: double;
    margin: 8px;
    padding: 16px;
    width: 46%;
}

.playerbox.mine {
    background-color: #ddd;
}


/* mobile */
@media (max-width: 767px) {

    .playerbox {
        width: 90%;
    }
    
    .die {
        margin-top: 1vw;
        height: 15vw;
        width: 15vw;
    }
}